<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система бронирования</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Главная</a> |
        <a href="{% url 'tables_list' %}">Столики</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'my_reservations' %}">Мои брони</a> |

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none;border:none;padding:0;margin:0;color:blue;cursor:pointer;text-decoration:underline;">
                    Выйти
                </button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a> |
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
